﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#chartContainer{
    width: 40em;
    height: 40em;
}

#args{
    border: #0f0f0f 2px solid;  
    width: 350px; 
    margin: 5px
}

#error{
    color: red; 
    font-size: 18px; 
    position: relative;
}

#function-select{
    width: 150px;
    margin: 5px;
    border:solid #0f0f0f 1px;
}

.error-div{
    height: 20px;
    margin: 10px    
}

