@using System.ComponentModel.DataAnnotations
@using System.Xml.Schema
@{
    ViewData["Title"] = "Interpolation";
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
<environment>
    
    <script type="text/javascript">
        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light2",
                    animationEnabled: true,
                    title: {
                        text: "Интерполяция методом Ньютона"
                    },
                    axisX: {
                        title: "Ось x",
                    },
                    axisY: {
                        title: "Ось y",
                    },
                    toolTip: {
                        shared: true
                    },
                    legend: {
                        cursor: "pointer",
                    },
                    data: [
                        {
                            type: "scatter",
                            dataPoints: @Html.Raw(ViewBag.DataPoints),
                            showInLegend: true,
                            //Временно добавляем имя константой
                            name: "Значение функции"
                        },
                        {
                            //Тут будет интерполируемая штука
                            type: "line",
                            showInLegend: true,
                            dataPoints: @Html.Raw(ViewBag.Interpolation),
                            name: "Интерполяция функции"
                        }
                    ]
                });
            chart.render();
        };
    </script>


</environment>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div id="chartContainer"></div>
            <div>
                <form name="interpolationForm" onsubmit="return ValidateInterpolationForm()" method="post" action="/Home/Interpolation">
                    <div class="row" style="margin: 20px">
                        <div class="col-md-8 col-lg-8" style="width: auto;"> 
                            <textarea id="args" name="args" rows="5">
                                @foreach (DataPoint dataPoint in ViewBag.Args)
                                {
                                    <text>@dataPoint.X </text>
                                }
                            </textarea>        
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select id="function-select" size="3" name="function">
                                @foreach (var func in ViewBag.FuncList)
                                {
                                    <option value="@func">@func</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="error-div">
                        <p id="error">@ViewBag.Status</p>
                    </div>
                    <input type="submit" value="Выполнить"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>