@{
    ViewData["Title"] = "SolveDifferentialEquation";
}

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
<environment>
    <script type="text/javascript">
        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light2",
                    animationEnabled: true,
                    title: {
                        text: "Интерполяция решений методом Ньютона"
                    },
                    axisX: {
                        title: "Ось x",
                    },
                    axisY: {
                        title: "Ось y",
                    },
                    toolTip: {
                        shared: true
                    },
                    legend: {
                        cursor: "pointer",
                    },
                    data: [
                        {
                            type: "line",
                            showInLegend: true,
                            dataPoints: @Html.Raw(ViewBag.DifferentialEquationValue),
                            name: "Значения функции"

                        }
                    ]
                });
            chart.render();
        };
    </script>
</environment>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <div id="chartContainer"></div>
            <div>
                <form name="differentialEquationForm" onsubmit="return ValidateDifferentialForm()" method="post" action="/Home/SolveDifferentialEquation">
                    <div class="row" style="margin: 20px">
                        <div class="col-md-4 col-lg-4" style="width: auto;">
                            <h4>Начальные условия</h4>
                            <div>
                                <label>X0 = </label>
                                <input type="text" name="X0" value="@ViewBag.X0"/>
                            </div>
                            <div>
                                <label>Y0 = </label>
                                <input type="text" name="Y0" value="@ViewBag.Y0"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <h5>Доступные функции f(x,y)</h5>
                            <select id="function-select" size="3" name="function">
                                @foreach (var func in ViewBag.FuncList)
                                {
                                    <option value="@func">@func</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <h4>Конец отрезка</h4>
                            <input type="text" name="RightLimit" value="@ViewBag.RightLimit"/>
                            <h4>Точность вычислений</h4>
                            <input type="text" name="Accuracy" value="@ViewBag.Accuracy"/>
                        </div>
                    </div>
                    <div class="error-div">
                        <p id="error">@ViewBag.Status</p>
                    </div>
                    <input type="submit" value="Выполнить"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>